
nav{
    border: 2px, lightslategray solid;
    display: flex;
    justify-content: center;
    align-items: center;
     gap: 20px;
     background-color: lightgray;
}
a{
     width: 100px;
    margin: 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 1200;
    border: 1px , solid , black;
    border-radius: 2px;
   display: flex;
    justify-content: center;
    align-content: center;


}
.canvas{
    margin-top: 100px;
   margin-left: 180px;


}

/* .button{
    height: 500px;
    width: 500px;
    background-color: red;
    
    border: 2px, solid black;
    padding: 8px;
     padding: 20px; 
      
      
} */
 /* .canvas span{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-block-end: 5px;
    border: 2px solid black;
    cursor: pointer;
 } */
  .button{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-block-end: 5px;
    border: 2px solid black;
    cursor: pointer;
  }
  #grey{
    background-color: grey;
  }
  #white{
    background-color: white;
  }
  #blue{
    background-color: blue;
  }
  #yellow{
    background-color: yellow;
  }


